@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

$clr-primary: #ff9a1e;
$clr-secondary: #feb45a;
$clr-primary-light: #feb45a;
$clr-light: #fff;
$clr-dark: #2d2d2d;
$clr-gray: #eaeaea;

$ff-primary: "Nunito", helvetica sans-serif;
$ff-secondary: "Arial", helvetica sans-serif;

$shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.06);

$breakpoints: (
  "xs": 0,
  "sm": 48rem,
  "md": 72rem,
  "lg": 96rem,
  "xl": 120rem,
);

$mobile: 480px;
$tablet: 72rem;
$desktop: 96rem;

$grid-cols: 12;
$grid-gap: 1rem;
