.header {
  padding: 1.5rem 0;
  a {
    font-weight: bold;
  }
  .branding a {
    font-size: 2rem;
    span {
      color: $clr-primary;
    }
  }
  .btn__show {
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    @include mediaQuery($mobile) {
      display: block;
    }
  }
  .btn__back {
    display: none;
    cursor: pointer;
    @include mediaQuery($mobile) {
      display: block;
    }
  }

  &__nav {
    @include mediaQuery($mobile) {
      position: fixed;
      top: 0;
      right: -350px;
      height: 100vh;
      background-color: $clr-light;
      border-left: 1px solid #ccc;
      width: 350px;
      z-index: 999;

      .btn__back {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
      }
      ul {
        margin-top: 6rem;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 2rem;
        li {
          margin-bottom: 2rem;
          text-align: right;
          a {
            font-size: 2.5rem;
          }
        }
      }
    }
    a {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $clr-primary;
        left: 0;
        bottom: -0.5rem;
        opacity: 0;
        transition: 0.5s ease-in-out;
      }
    }
    a:hover::after {
      opacity: 1;
    }
    a.active::after {
      opacity: 1;
    }
  }
}
