.btn {
  background-color: $clr-primary;
  padding: 0.8rem 1.8rem;
  border-radius: 3rem;
  border: 1px solid;
  display: inline-block;
  transition: 0.5s ease-in-out;
  &-primary {
    background-color: $clr-primary;
    color: $clr-light;
    border-color: $clr-primary;
    &:hover {
      background-color: darken($clr-primary, 10%);
    }
  }
  &-outline {
    background-color: transparent;
    color: $clr-primary;
    border-color: $clr-primary;
    &:hover {
      background-color: $clr-primary;
      color: $clr-light;
    }
  }
}
